* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bodycolor: #d3d1da;
  --colorbg: #dff9fb;
  --colorprimary: black;
  --colorbtn: #fff;
}

body {
  background-color: var(--bodycolor);
  font-family: "poppins", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.container {
  margin: 0 1rem;
  width: 40rem;
  height: 30rem;
  background-color: var(--colorbg);
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  box-shadow: 0px 1px 4px;
}

.Calculator__screen {
  width: 100%;
  height: 6rem;
  padding: 1rem;
  font-weight: 600;
  font-size: 3rem;
  border-radius: 0.3rem;
  background: var(--colorbtn);
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.371);
}

.button-container {
  padding: 1rem;
  width: 100%;
  margin-top: 2rem;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row button {
  padding: 0.7rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 1.2rem;
  border: 0px solid #4834d4;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.837);
  transition: all 0.2s ease;
}

.row button:hover {
  background-color: #4934d449;
}

@media screen and (max-width: 400px) {
  body {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: none;
  }

  .container {
    margin: 1rem;
    width: 100%;
    height: 100%;
  }

  .Calculator__screen {
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-weight: 600;
    font-size: 3rem;
  }

  .row button:hover {
    background-color: #4934d400;
  }

  .row button:active {
    background-color: #4934d449;
  }
}
